h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #f8f8f8;
}

#searchResults,
#cityDetails,
.card {
    background-color: #5a6c73
}

#currentWeather {
    display: none;
}

#cityDetails,
#uvIndexColor,
li {
    color: #4d4f53
}



